.main_content{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}
.main_content header{
    background-color: #CCC;
    margin: 0 auto;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_header_content, .main_header_styles{
    flex-basis: 50%;
}
.main_content .execute{
    margin: 130px auto;
    flex-basis: 100%;
}
.main_content footer{
    flex-basis: 100%;
    background-color: #CCC;
}